@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.header {
  border-top: 15px solid green;
  border-bottom: 15px solid red;
}

.de-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

p {
  margin: 0;
}

.dis-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-flex {
  display: flex;
  align-items: center;
}

.body-details-wapper {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.receipt-printout {
  height: 30.8rem;
  width: 49.8rem;
}

.receipt-no {
  margin-bottom: 1rem;
}

/* @media only screen and (max-width: 700px) {
  .d-flex {
    display: block;
    align-items: center;
    justify-content: center;
  }

  .dis-flex {
    display: grid;
    align-items: center;
    justify-content: center;
  }
} */

.date {
  padding-left: 1rem;
}

.logo {
  width: 4rem;
  padding-right: 1rem;
}

.society-name {
  color: green;
  font-weight: 700;
}

.society-sub-name {
  color: red;
}

.receipt-body {
  padding: 2rem;
  border-bottom: 15px solid green;
  background: url("./assets/Receipt-bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 1rem;
}

.payment-method {
  margin-top: 2rem;
}

.payment-method h4 {
  font-weight: 700;
}

.body-details {
  line-height: 4rem;
  display: flex;
  justify-content: start;
  align-items: flex-start;
}

.inputText {
  padding-left: 2rem;
}

.form-body {
  padding: 1rem;
}
